/* Reset some default browser styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}
#bar{
	display:flex;
	
	}
#yy {
      display: flex;
      align-items: center;
      justify-content: space-between;
	  background-color: #333;
	  color: green;
      padding: 20px;
    }
nav {
   margin-right:20px; 
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
	color:white;
    font-weight: bold;
}

section {
    padding: 20px;
}

#about {
    background-color: #f0f0f0;
}
#hover1:hover {
	color:green;
}
#services {
    background-color: #fff;
}

#shop {
    background-color: #f0f0f0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
